* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100wh;
    display: grid;
    grid:
    "header header header" 80px
     "left grid colors"1fr
      /400px 1fr 400px;
}
div {
    border: 1px solid rgb(136, 138, 138);

}
header{
    grid-area: header;
}

h1 {
    font-family: 'Franklin Gothic Medium',  sans-serif;
    width: 100wh;
    text-align: center;
    margin: 20px;
    color: rgb(99, 107, 107);
}
h2{
    margin: 20px;
    color: rgb(99, 107, 107);
}
p{
    margin: 10px 10px;
    text-align:center;
}
.main{
    grid-area: grid;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userManual {
    grid-area: left;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid rgb(77, 79, 79);
    border-radius: 7px;
}
.reStart,.view,.back{
    margin: 20px;
    border:1px solid rgba(173, 216, 230, 0.5);
    box-shadow: 5px 5px 2px rgba(173, 216, 230, 0.5);
    width: 150px;
    height: 50px;
    border-radius: 15px;
}
.reStart:hover {
    background-color:  rgba(96, 98, 98, 0.3);
    box-shadow: 9px 9px 4px rgba(173, 216, 230, 0.5);
    cursor: grab;
}
.reStart:active {
    transform: scale(.9);
}
.colors {
    grid-area: colors;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
.color1, .color2{
    display: flex;
    flex-direction: column;
    border: none;
    width: 200px;
   
}
button {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.blue {
    background-color: blue;
    border: 1px solid darkblue;
    border-radius: 20px;

}

.purple {
    background-color: purple;
    border: 1px solid darkmagenta;
    border-radius: 20px;
}

.red {
    background-color: red;
    border: 1px solid darkred;
    border-radius: 20px;
}

.orange {
    background-color: orange;
    border: 1px solid darkorange;
    border-radius: 20px;
}

.yellow {
    background-color: yellow;
    border: 1px solid darkgoldenrod;
    border-radius: 20px;
}

.pink {
    background-color: pink;
    border: 1px solid palevioletred;
    border-radius: 20px;
}

.lightBlue {
    background-color: lightblue;
    border: 1px solid aqua;
    border-radius: 20px;
}

.green {
    background-color: green;
    border: 1px solid darkgreen;
    border-radius: 20px;
}

.blue:hover {
    background-color: rgba(0, 0, 139, 0.5);
    cursor: grab;
}

.blue:active {
    transform: scale(.9);
}

.purple:hover {
    background-color: rgba(128, 0, 128, 0.5);
    cursor: grab;
}

.purple:active {
    transform: scale(.9);
}

.red:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: grab;
}

.red:active {
    transform: scale(.9);
}

.orange:hover {
    background-color: rgb(255, 166, 0, 0.5);
    cursor: grab;
}

.orange:active {
    transform: scale(.9);
}

.yellow:hover {
    background-color: rgba(255, 255, 0, 0.5);
    cursor: grab;
}

.yellow:active {
    transform: scale(.9);
}

.pink:hover {
    background-color: rgba(255, 192, 203, 0.5);
    cursor: grab;
}

.pink:active {
    transform: scale(.9);
}

.green:hover {
    background-color: rgba(0, 128, 0, 0.5);
    cursor: grab;
}

.green:active {
    transform: scale(.9);
    cursor: grab;
}

.lightBlue:hover {
    background-color: rgba(173, 216, 230, 0.5);
    cursor: grab;
}

.lightBlue:active {
    transform: scale(.9);
}